@charset "utf-8";
body {
  font-family: Montserrat-Regular;
  background-color: #f4f4f4 !important;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.eot);
  src: url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Roboto-Regular.svg#Roboto-Regular) format("svg"),
    url(../fonts/Roboto-Regular.ttf) format("truetype"),
    url(../fonts/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.eot);
  src: url(../fonts/Roboto-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Roboto-Medium.svg#Roboto-Medium) format("svg"),
    url(../fonts/Roboto-Medium.ttf) format("truetype"),
    url(../fonts/Roboto-Medium.woff) format("woff"),
    url(../fonts/Roboto-Medium.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.eot);
  src: url(../fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Roboto-Bold.svg#Roboto-Bold) format("svg"),
    url(../fonts/Roboto-Bold.ttf) format("truetype"),
    url(../fonts/Roboto-Bold.woff) format("woff"),
    url(../fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Montserrat-Regular.svg#Montserrat-Regular) format("svg"),
    url(../fonts/Montserrat-Regular.ttf) format("truetype"),
    url(../fonts/Montserrat-Regular.woff) format("woff"),
    url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.eot);
  src: url(../fonts/Montserrat-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Montserrat-Medium.svg#Montserrat-Medium) format("svg"),
    url(../fonts/Montserrat-Medium.ttf) format("truetype"),
    url(../fonts/Montserrat-Medium.woff) format("woff"),
    url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.eot);
  src: url(../fonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Montserrat-Bold.svg#Montserrat-Bold) format("svg"),
    url(../fonts/Montserrat-Bold.ttf) format("truetype"),
    url(../fonts/Montserrat-Bold.woff) format("woff"),
    url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url(../fonts/RobotoSlab-Bold.eot);
  src: url(../fonts/RobotoSlab-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold) format("svg"),
    url(../fonts/RobotoSlab-Bold.ttf) format("truetype"),
    url(../fonts/RobotoSlab-Bold.woff) format("woff"),
    url(../fonts/RobotoSlab-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.eot);
  src: url(../fonts/Poppins-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Poppins-Regular.svg#Poppins-Regular) format("svg"),
    url(../fonts/Poppins-Regular.ttf) format("truetype"),
    url(../fonts/Poppins-Regular.woff) format("woff"),
    url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
.page-holder {
  min-height: 100vh;
  background-image: url(../images/bg.jpg);
}
.bg-cover {
  background-size: cover !important;
}
header {
  position: absolute !important;
  width: 100%;
  z-index: 999;
  left: 0;
  transform: translateZ(0);
  transition: all 0.5s;
}
.overlay-text {
  max-width: 52%;
}
.overlay-text h3 {
  font-size: 32px;
  color: #fff;
  font-family: RobotoSlab-Bold;
  position: relative;
  margin-bottom: 40px;
}
.overlay-text h3:before {
  content: "";
  background: white !important;
  width: 50px !important;
  height: 5px;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  bottom: -24px;
}
.overlay-text p {
  font-size: 26px;
  color: #fff;
  font-family: Montserrat-Regular;
  max-width: 86%;
}
.overlay-text .wrapper-btn {
  float: left;
  width: 100%;
  margin-top: 61px;
}
.work-info-text {
  margin-top: 23px;
}
.wrapper-btn a {
  padding: 15px 13px;
  background: #fff;
  width: 226px;
  float: left;
  margin-right: 20px;
  border-radius: 50px;
  text-align: center;
  color: #182f59;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper-btn a:hover {
  background-color: #111125 !important;
  color: #fff;
}
.container.slider-wrapper {
  padding-top: 217px;
}
.wrapper-menu ul.navbar-nav {
  margin-left: auto;
}
.wrapper-menu ul.navbar-nav li a {
  padding: 0 40px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.wrapper-menu ul.navbar-nav li.last a {
  border: solid 1px #fff;
  border-radius: 50px;
  padding: 7px 32px;
  font-size: 18px;
  margin-left: 20px;
}
.wrapper-menu ul.navbar-nav li.last a:hover {
  background-color: #3f8c1c;
  border: solid 1px #4ea526;
}
.carousel-wrapper {
  float: left;
  width: 100%;
  background-color: #111125 !important;
}
.carousel-wrapper #blogCarousel {
  padding-top: 40px;
  padding-bottom: 40px;
}
.carousel-wrapper .work-info-text p {
  font-size: 20px;
  color: #fff;
  max-width: 90%;
  line-height: 39px;
}
.carousel-wrapper .work-info-text h3 {
  display: flex;
  float: left;
  width: 100%;
}
.carousel-wrapper .work-info-text h3 p {
  margin-bottom: 0;
  font-size: 26px;
}
.carousel-wrapper .work-info-text h3 strong {
  margin-right: 17px;
  border-right: solid 2px #fff;
  padding-right: 17px;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
}
.carousel-wrapper #blogCarousel ol li {
  background: #fff;
  border-radius: 50px;
  height: 16px;
  width: 16px;
  border: none;
}
.carousel-wrapper #blogCarousel ol {
  position: absolute;
  right: 0;
  left: auto;
  margin-right: 0;
  bottom: 16px;
}
.about-wrapper {
  background-color: #f4f4f4;
  float: left;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 51px;
}
.icon-wrappper h3 {
  font-size: 18px;
  margin-top: 20px;
  color: #4a4469;
  margin-bottom: 15px;
  font-family: Montserrat-Bold;
}
.icon-wrappper p {
  font-size: 17px;
  color: #000;
  line-height: 27px;
  margin-bottom: 0;
  font-family: Montserrat-Regular;
}
.section-title {
  float: left;
  width: 100%;
  margin-bottom: 43px;
}
.section-title h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  color: #190f4c;
  font-family: Montserrat-Bold;
  position: relative;
}
.section-title h3:before {
  content: "";
  border-left: solid 5px #111125 !important;
  padding-left: 16px;
}
.section-title p {
  font-size: 20px;
  color: #4a4469;
  line-height: 38px;
  font-family: Montserrat-Regular;
  padding-left: 21px;
}
.row-wrapp .col-md-6 {
  margin-bottom: 48px;
}
.wrapp-imgaes {
  margin-top: 300px;
}
ul.pricing-tab {
  padding: 0;
  margin: 0;
  padding: 0 66px;
}
ul.pricing-tab li {
  list-style: none;
  margin-bottom: 13px;
  font-size: 19px;
}
.pricing-table {
  margin: 0 auto;
  margin: 0 13px;
  padding-bottom: 31px;
  margin-bottom: 50px;
}
.pricing-table .title {
  text-align: center;
  font-size: 54px;
  padding-top: 17px;
  padding-bottom: 43px;
  font-weight: 700;
}
.pricing-table .bottom {
  text-align: center;
}
.pricing-table .bottom strong {
  float: left;
  width: 100%;
  font-size: 52px;
  font-weight: 700;
  font-family: Montserrat-Bold;
}
.pricing-table .bottom .btn-wrapper a {
  background: #3f8c1c;
  display: inline-block;
  padding: 10px 45px;
  color: #fff;
  border-radius: 6px;
}
.pricing-table .btn-wrapper {
  margin-top: 10px;
}
ul.pricing-tab li img {
  margin-right: 5px;
}
.pricing-table .bottom.pricing-bgss .btn-wrapper a {
  background: #182f59;
}
.pricing-table:before {
  content: "";
  width: 80% !important;
  height: 95% !important;
  background: #111125 !important;
  display: inline-block;
  position: absolute;
  bottom: -12px !important;
  z-index: 0;
  left: 15px !important;
}
.hacker-account-wrapper {
  background: #111125 !important;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 0px !important;
  float: left;
  width: 100%;
}
.hacker-account-wrapper .hacker-text p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 38px;
}
.women-surprised-wrapper {
  background-color: #f4f4f4;
  padding-top: 116px;
  padding-bottom: 80px;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 104px;
}
.woman-images {
  position: relative;
  z-index: 666;
  -webkit-box-shadow: 10px -2px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -2px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0 5px -1px rgba(0, 0, 0, 0.75);
}
.women-surprised-wrapper .dont-form {
  padding-top: 72px;
  padding-left: 30px;
}
.women-surprised-wrapper .dont-form h4 {
  color: #182f59;
  font-size: 39px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat-Bold;
}
.women-surprised-wrapper .dont-form h6 {
  color: #5e657f;
  font-size: 28px;
  margin-bottom: 40px;
}
.women-surprised-wrapper .dont-form .form-control {
  height: 52px;
  font-family: Poppins-Regular;
  color: #5e657f;
  font-size: 16px;
}
.women-surprised-wrapper .dont-form .form-group {
  margin-bottom: 30px;
}
.hacker-text.one-text p {
  font-weight: 700;
  text-transform: uppercase;
}
.women-surprised-wrapper .dont-form textarea.form-control {
  height: auto !important;
}
.women-surprised-wrapper .dont-form .btn-primary {
  border-radius: 25px;
  padding: 11px 57px;
  background: #3f8c1c;
  color: #fff;
  border-color: #3f8c1c;
}
.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 40px;
  background: #182f59;
  float: left;
  width: 100%;
}
.footer-wrapper .footer-title {
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.footer-wrapper .company-menu ul,
.footer-wrapper .services-menu ul {
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-wrapper .company-menu ul li,
.footer-wrapper .services-menu ul li {
  padding-bottom: 8px;
}
.footer-wrapper .company-menu ul li a,
.footer-wrapper .services-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.footer-wrapper .contact-address {
  color: #fff;
}
.footer-wrapper .contact-address p {
  font-size: 13px;
  line-height: 30px;
}
.footer-wrapper .footer-copyright p {
  font-size: 13px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}
.footer-wrapper .footer-social-icon ul {
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-wrapper .footer-social-icon ul li a {
  border-radius: 50px;
  float: left;
  width: 35px;
  background: #fff;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 19px;
  color: #182f59;
  margin-right: 8px;
}
.footer-social-icon {
  position: absolute;
  right: 0;
  width: 182px;
  top: 2px;
}
.pricing-table .pricing-wrapper {
  z-index: 666;
  position: relative;
  background: #fff;
  padding-bottom: 31px;
  float: left;
  width: 100%;
  -webkit-box-shadow: 10px -2px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -2px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0 5px -1px rgba(0, 0, 0, 0.75);
}
.pricing-table.pricing-table-tow:before {
  background: #182f59 !important;
}
.pricing-wrapper {
  background-color: #f4f4f4;
  float: left;
  width: 100%;
  padding-bottom: 106px;
}
.fixed {
  background: #182f59;
  position: fixed !important;
  z-index: 999 !important;
  transform: translateZ(0);
  transition: all 0.5s;
}
.background-bg-left {
  background: #111125 !important;
  width: 34% !important;
  left: 189px !important;
  height: 77% !important;
  position: absolute;
  bottom: 65px !important;
  z-index: 333;
}
.footer-wrapper .footer-social-icon ul li a:hover {
  background: #3f8c1c;
  color: #fff;
}
.pricing-table .bottom span {
  color: #0c0c0c;
  font-size: 20px;
  margin-bottom: 7px;
  display: inline-block;
}
p.mobile-text {
  display: none;
}
.pricing-wrapper .section-title.first-pricing {
  margin-bottom: 56px;
}
.scroll-down {
  display: none;
}
.pricing-table.pricing-table-tow .btn-wrapper button {
  background: #182f59 !important;
  display: inline-block;
  padding: 10px 45px;
  color: #fff;
  border-radius: 6px;
  border: none;
}
.pricing-table.pricing-table-tow .btn-wrapper button:hover {
  background: #3f8c1c;
}
button {
  outline: 0 !important;
}
a {
  outline: 0 !important;
}
.pricing-table .btn-wrapper button {
  background: #111125 !important;
  display: inline-block;
  padding: 10px 45px;
  color: #fff;
  border-radius: 6px;
  border: none;
}
.pricing-table .btn-wrapper button:hover {
  background: #409815 !important;
}
#messageopen {
  color: #409815 !important;
  font-weight: 600 !important;
}
.thank-info {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 150px !important;
}
.thank-info p {
  text-align: center;
  color: #5e657f;
  font-size: 28px;
  margin-bottom: 40px;
}
.thank-info-img {
  text-align: center;
  margin-bottom: 12px;
}
.thank-info h3 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  color: #190f4c;
  font-family: Montserrat-Bold;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .carousel-wrapper {
    padding-bottom: 34px;
  }
  .thank-info {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 69px !important;
  }
  .scroll-down {
    position: absolute;
    z-index: 666;
    bottom: 1px;
    left: 25px;
    border-left: solid 1px #5bbc2e;
    padding-left: 15px;
    padding-bottom: 50px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
  }
  .carousel-wrapper #blogCarousel ol li {
    height: 18px;
    width: 18px;
    margin-left: 5px;
  }
  .footer-wrapper {
    padding-bottom: 30px;
  }
  .page-holder {
    min-height: 680px;
  }
  p.desktop-text {
    display: none;
  }
  p.mobile-text {
    display: block;
    font-size: 15px !important;
    text-align: left;
    line-height: 29px !important;
    max-width: 100% !important;
  }
  .carousel-wrapper .work-info-text h3 p {
    margin-bottom: 0;
    font-size: 12px;
    max-width: 100%;
    line-height: 25px;
    margin-top: 6px;
  }
  .carousel-wrapper .work-info-text h3 strong {
    margin-right: 17px;
    font-size: 24px;
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    margin-bottom: 30px !important;
  }
  .carousel-wrapper .work-info-text h3 {
    display: inline-block;
    float: left;
    width: 100%;
  }
  .carousel-wrapper #blogCarousel ol {
    bottom: 0;
    margin-bottom: 0;
  }
  .overlay-text {
    max-width: 100%;
    text-align: center;
    float: left;
    padding: 0 14px;
  }
  .overlay-text h3:before {
    display: none;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
  }
  button.navbar-toggler {
    border: none !important;
    background: 0 0 !important;
  }
  .icon-wrappper .icon-row {
    text-align: center;
  }
  .icon-wrappper h3 {
    text-align: center;
  }
  .pricing-table {
    margin-bottom: 50px;
  }
  .pricing-table {
    margin-top: 85px !important;
  }
  .navbar-light .navbar-toggler:focus {
    outline: 0 !important;
  }
  .wrapper-menu #navbarSupportedContent {
    background: #182f59;
    padding-top: 25px;
    padding-bottom: 29px;
  }
  .wrapper-menu ul.navbar-nav li {
    margin-bottom: 14px;
  }
  .wrapper-menu ul.navbar-nav li.last {
    margin-top: 13px;
  }
  .wrapper-menu {
    padding: 0;
  }
  .wrapper-menu a.navbar-brand {
    margin-left: 15px;
  }
  .wrapper-menu button.navbar-toggler {
    margin-right: 15px;
  }
  .work-img-wrapp {
    padding: 0 20px;
    margin-top: 5px;
    margin-bottom: 23px;
    text-align: center;
  }
  .work-info-text {
    text-align: center;
    padding: 0 20px;
    margin-top: 0;
  }
  .section-title h3 {
    font-size: 18px;
    display: inline-flex;
    line-height: 43px;
  }
  .about-wrapper {
    background-color: #f4f4f4 !important;
    float: left;
    width: 100%;
    padding-top: 62px;
    padding-bottom: 40px;
  }
  .pricing-table.first-pricing {
    margin-top: 0 !important;
  }
  .pricing-table:before {
    bottom: -30px;
    left: 24px;
  }
  .pricing-table {
    padding: 0 23px;
  }
  ul.pricing-tab {
    padding: 0 20px;
  }
  ul.pricing-tab li {
    font-size: 15px;
  }
  .pricing-table .bottom strong {
    font-size: 48px;
  }
  .pricing-table .title {
    font-size: 36px;
    padding-top: 17px;
    padding-bottom: 21px;
  }
  .hacker-account-wrapper {
    padding: 66px 22px;
  }
  .hacker-text.one-text {
    margin-bottom: 62px;
  }
  .hacker-account-wrapper .hacker-text p {
    font-size: 15px;
    text-transform: uppercase;
  }
  .icon-wrappper p {
    padding-left: 15px;
  }
  .wrapp-imgaes {
    margin-top: 36px;
  }
  .pricing-wrapper {
    padding-top: 24px;
  }
  .footer-social-icon ul li {
    display: inline-block;
  }
  .footer-social-icon ul {
    width: 100%;
    text-align: center;
    float: left;
  }
  .footer-social-icon {
    position: relative;
    right: auto;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 17px;
    left: auto;
    float: left;
    margin-bottom: 26px;
  }
  .footer-wrapper .footer-copyright p {
    font-size: 12px;
  }
  .footer-wrapper .footer-title {
    margin-top: 41px;
  }
  .footer-wrapper .company-menu ul li,
  .footer-wrapper .services-menu ul li {
    padding-bottom: 8px;
    width: 50%;
    float: left;
  }
  .footer-wrapper .company-menu ul li a,
  .footer-wrapper .services-menu ul li a {
    font-size: 12px;
  }
  .background-bg-left.desktop-bg {
    display: none;
  }
  .women-surprised-wrapper .dont-form {
    padding-top: 72px;
    padding-left: 0;
  }
  .background-bg-left.mobile-bg {
    bottom: -39px;
  }
  .women-surprised-wrapper .woman-images {
    padding-left: 20px;
  }
  .women-surprised-wrapper .dont-form h4 {
    font-size: 22px;
    text-align: center;
  }
  .women-surprised-wrapper .dont-form h6 {
    font-size: 20px;
    text-align: center;
  }
  .women-surprised-wrapper .dont-form {
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .women-surprised-wrapper {
    padding-top: 116px;
    padding-bottom: 27px;
    margin-bottom: 0;
  }
  .about-wrapper .row .col-md-6 {
    max-width: 100%;
    flex: 100%;
  }
  .pricing-wrapper .col-md-4 {
    flex: auto;
    max-width: 100%;
  }
  .bg-cover {
    background-size: cover !important;
    background-position: 58% 100%;
    position: relative;
  }
  .overlay-text p {
    font-size: 18px;
    max-width: 100%;
  }
  .wrapper-btn a {
    width: 194px;
    float: none;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .overlay-text .wrapper-btn {
    float: left;
    width: 100%;
    margin-top: 18px;
    text-align: center;
    display: inline-grid;
  }
  .overlay-text h3 {
    font-size: 24px;
    margin-bottom: 18px;
    line-height: 33px;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .pricing-table:before {
    bottom: -30px;
    left: -1px;
  }
  ul.pricing-tab li {
    font-size: 21px;
  }
  .hacker-account-wrapper .col-sm-6 {
    max-width: 100%;
    flex: auto;
  }
  .women-surprised-wrapper .col-sm-6 {
    flex: auto;
    max-width: 100%;
  }
  .women-surprised-wrapper .dont-form h4 {
    font-size: 34px;
    text-align: center;
  }
  .women-surprised-wrapper .dont-form h6 {
    font-size: 25px;
    text-align: center;
  }
  .carousel-wrapper .row.wrapper-row .col-md-3,
  .carousel-wrapper .row.wrapper-row .col-md-9 {
    max-width: 100%;
    flex: auto;
  }
  .carousel-wrapper .work-info-text p {
    max-width: 100%;
    text-align: center;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  ul.pricing-tab {
    padding: 0 16px;
  }
  .pricing-table .title {
    font-size: 29px;
  }
  .pricing-table .bottom strong {
    font-size: 37px;
  }
  ul.pricing-tab li {
    list-style: none;
    margin-bottom: 13px;
    font-size: 14px;
  }
  .women-surprised-wrapper .dont-form h4 {
    font-size: 28px;
  }
  .woman-images {
    margin-top: 121px;
  }
  .background-bg-left.desktop-bg {
    display: none;
  }
  .background-bg-left {
    width: 92%;
    left: -35px;
    height: 62%;
    bottom: 97px;
  }
  .container.slider-wrapper {
    padding-top: 169px;
  }
  .page-holder {
    min-height: 566px;
    background-position: center !important;
  }
  .overlay-text {
    max-width: 100%;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
  }
  .navbar-light .navbar-toggler:focus {
    outline: 0 !important;
  }
  .wrapper-menu #navbarSupportedContent {
    background: #182f59;
    padding-top: 25px;
    padding-bottom: 29px;
  }
  .wrapper-menu ul.navbar-nav li.last {
    margin-top: 13px;
  }
  .wrapper-menu {
    padding-left: 0;
    padding-right: 0;
    margin: 0 !important;
    max-width: 100%;
  }
  .wrapper-menu button.navbar-toggler {
    padding-right: 30px;
  }
  .wrapper-menu a.navbar-brand {
    padding-left: 30px;
  }
  .wrapper-menu #navbarSupportedContent li {
    margin-bottom: 17px;
  }
  .women-surprised-wrapper {
    padding-top: 45px;
    padding-bottom: 0;
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 79px;
  }
  .carousel-wrapper .work-info-text h3 p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 24px;
  }
  .carousel-wrapper .work-info-text h3 strong {
    margin-right: 17px;
    padding-right: 17px;
    font-size: 17px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .background-bg-left {
    width: 92%;
    left: -35px;
    height: 62%;
    bottom: -56px;
  }
  .wrapper-menu #navbarSupportedContent {
    background: 0 0;
  }
  .wrapper-menu ul.navbar-nav {
    margin-right: 43px;
  }
  .wrapper-menu #navbarSupportedContent li {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .women-surprised-wrapper {
    padding-bottom: 91px;
  }
}
